*{
    padding : 0 ;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 30px;
    letter-spacing: 5px;
}
h2{
    font-size:18px;
}
h3{
    font-size: 14px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  
    max-width: 1400px;
    margin: auto;
}

.header{
    height: 100px;
}

.header-left{
display: flex;
cursor: pointer;
}

.header-left > div{
  border: 1px solid black;
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
  display: flex;
  margin-left: 12px;
}

.header-left > div > i {
    transform: rotate(-45deg);
    margin: auto;
}


.header-size{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right > ul > li {
    
    padding: 30px;
}

.header-right > ul > li > a{
    color: #555;
    text-transform: uppercase;
}

.header-right ul{
    display: flex;
    flex-wrap: wrap;
}
ul{
    margin: 0;
}
ul li{
    list-style: none;
}

.slider{
    height: 900px;
    background: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
   position: relative;
}
.slider-text > h1 {
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 20px;
}

.slider-scroll{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
   
}
.slider-scroll > h5 {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 14px;
}


.arrow{
    cursor: pointer;
    /* margin-left: 5px;  */
    display: inline-block;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.info{
    height: 870px;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.info > img {
    height: 215px;
    width: 215px;
    border-radius: 50%;
}
.info > h1 {
    letter-spacing: 20px;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.info > p {
    margin-top: 50px;
    max-width: 600px;
    text-align: center;
    font-size: 18px;
}
.select{
   
    margin-top: 200px;
}
.select > h1 {
    margin-bottom: 110px;
    text-transform: uppercase;
    text-align: center;
}

.thumnail {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.thumnail > .square {
    flex-basis: 33%;

}

.square > img{
    max-width: 100%;
}

.thumnail > .square:hover {
    background: #555;
    color: white;
}

.square > h2{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-left: 50px;
}
.square > p{
    margin-top: 10px;
    margin-left: 50px;
    text-transform: capitalize;
}

.square {
    position: relative;
}
.square:hover .case {
    display: block;
}
.square:hover ::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.1;
    z-index: 10;
    height: 100%;
    width: 100%;;
}
.square a{
    text-decoration: none;
    color:white;
}
.case{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    border: 1px solid white;
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    z-index: 200;
    display: none;
}

.nut {
    margin-top: 80px;
    margin-bottom: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nut a{
    padding: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-decoration: none;
    color: black;
}

.nut i{
    margin-left: 20px;
}

img{
    max-width: 100%;
}


.proficiency {
    background: #222222;
    /* height: 740px; */
    color: white;
    text-align: center;
    padding-bottom:  190px;
}
.proficiency h1{
text-transform: uppercase;
    padding-top: 190px;

}
.proficiency-square {
    
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 85px
    /* text-align: center; */
}

.circle h2{
    height: 200px;
    width: 210px;
    line-height: 210px;
    text-align: center;
}

.pts h2 {
    background: url(../img/1.png);
    background-position: center;
    background-size: cover;
}
.ai h2{
    background: url(../img/2.png);
    background-position: center;
    background-size: cover;
}
.axu h2 {
    background: url(../img/3.png);
    background-position: center;
    background-size: cover;
}
.max h2 {
    background: url(../img/4.png);
    background-position: center;
    background-size: cover;
}

.design{
   background: #f3f3f3;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    padding-top: 140px;
    padding-bottom: 140px;
}

.design-square{
    text-align: center;
    flex-basis: 33%;
}

.design h1 {
    text-transform: capitalize;
    margin-bottom: 35px;
}

.enjoy-size{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 190px;
}

.enjoy-size h1{
    text-transform: uppercase;
}



.enjoy-squares{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 200px;
    
}
.enjoy-square{
    height: 210px;
   width: 210px;
   /* display: inline-block; */
    border: 1px solid black;
    transform: rotate(45deg);
    position: relative;
    /* margin: 12px; */
}

.enjoy-square img{
    /* line-height: 300px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.slide-footer-size h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 85px;
    letter-spacing: 5px;
}

.slide-footer{
    height: 650px;
    position: relative;
    background: url(../img/slider-foote-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
}

.slide-footer-size{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.slide-footer-size{
    width: 60%;
    /* margin: auto; */
}

.slide-text{
    display: flex;
    justify-content: space-between;
    /* height: 150px; */
}

.slide-text-left{
    display: flex;
    margin: auto;
    flex-direction: column;
    /* flex: 1; */
    /* align-self: flex-end; */
}


.slide-text-left a{
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    text-decoration: none;
    margin-top: 40px;
}

.slide-text-right{
    margin-right: auto;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex: 1; */
}
.slide-text-right i{
    margin-right: 20px; 
    opacity: 1;
}
.slide-text-right span{
    opacity: 0.5;
    letter-spacing: 5px;
}

.footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: baseline; */
}

.footer .header-left{
    margin:auto;
    padding-top:70px;
}

.footer .header-left div:hover{
    background: black;
    color: white;
}

.footer h3{
    text-transform: uppercase;
    margin:auto;
    opacity: 0.5;
}

@media (max-width:768px) {
    .header-size {
        margin-top: 30px;
        justify-content: center;
        flex-direction: column;
    }
    .info > p{
        font-size: 0.9em;
    }
   .case {
       top: 10%;
   }
   .thumnail > .square{
       flex-basis: 49%;
   }
   .enjoy-squares{
       flex-direction: column;
       align-items: center;
       /* justify-content: space-a; */
   }
   .enjoy-square{
       height: 150px;
       width: 150px;
       margin-bottom: 40px;
   }
   .enjoy-square img{
       width: 55%;
   }
   .slide-text{
       /* height: 100%; */
       flex-direction: column;
       justify-content: space-between;
   }
   .slide-text-left a{
       margin-top: 10px;
   }
   .slide-text-right{
       /* text-align: center; */
       margin: auto;
       /* margin-top: 150px; */
       align-items: center;
       justify-content: center;
   }
   .slide-footer-size{
       width: 80%;
   }
   .slide-text-left{
       align-items: center;
       margin-bottom: 10px;
   }
  }
  